footer{
	text-align: left; 
	background: $gray-dark; 
	color: #fff; 
	font-size: 14px; 
	display: flex; 
	position: relative; 
	p{
		padding: 5px 0; 
		margin: 0; 
	}
	a{
			color: $white; 
			&:hover{
				color: $white; 
				text-decoration: underline; 
			}
		}
		ul{
			list-style-type: none; 
			margin: 0; 
			padding: 0; 
			li{
				padding: 5px 0; 
			}
		}
	.wrap{
		padding: 0 0px; 
		display: flex; 
		width: 100%; 
		max-width: 1200px;
		@include mobile-break{
			display: block;
		}
	}
	h3{
		color: #fff; 
		font-weight: 600; 
		font-size: 28px; 
		margin-bottom: 5px; 
		padding: 0; 
	}
	.footer-left{
		width: 67%;
		padding: 60px 40px; 
		aside{
			width: 50%; 
			float: left; 
			@include mobile-break{
			padding-bottom: 30px; 
			width: 100%; 
			}
		}
		@include mobile-break{
			width: 100%;
			display: block; 
			clear: both; 
			padding-bottom: 60px; 
		}
	}
	
	.footer-right{
		background: $gray-med; 
		width: 33%; 
		padding: 60px 40px; 
		right:0px; 
		img{
			margin-right: 15px;
			margin-bottom: 15px;
		}
		@include mobile-break{
			width: 100%;
			display: block; 
			clear: both; 
			padding-bottom: 30px; 
		}
		.fab, .fas{
			font-size: 18px; 
			padding: 0px; 
			margin: 5px 15px 15px 15px;
			background: $red-light; 
			color: $white; 
			border-radius: 50%; 
			width: 36px; 
			height: 36px; 
			line-height: 34px; 
			text-align: center;
			letter-spacing: 0; 
			transition: .2s; 
			&:first-child{
				margin-left: 0px; 
			}
			&:hover{
				background: $red-dark; 
			}
		}
	}
}



.site-footer {
    border-top: 0px solid #eee;
    z-index: 99;
    position: relative;
}