header{
	width: 100%; 
	border-bottom: 1px solid $gray-light;  
	height: 108px; 
	img{
		max-width: 95px; 
		margin: 10px;
		float: left;  
		}
}



.menu-main-container{
	display: inline-block; 
	float: left; 
}

header button.header{
	position: fixed; 
	right:0px; 
	margin: 30px 15px; 
}


header ul {
	text-align: right; 
	margin: 0 auto; 
	display: inline-block; 
	float: right; 
	padding: 30px; 
	@include desktop-break{
			display: none;
	}
	&.nav-open{
		display: block;
		position: fixed; 
		top:0px; 
		width: 100%; 
		z-index: 999; 
		background: $blue-light;
		left:0px; 
		padding-top: 80px;
		li{
			display: block; 
			font-size: 16px; 
			text-align: left; 
			padding: 15px 4px; 
			a{
				color: #fff; 
				&:focus{
					color: #fff; 
				}
			}
			&:last-child{
				padding: 15px 0; 
			}
		}
	}
	li{
	text-align: center;
	list-style-type: none; 
	padding: 15px; 
	display: inline-block; 
	font-weight: 400; 
	font-size: 18px; 
	color: #fff; 
	&.current_page_item a{
		text-decoration: underline; 
	}
	a {
	    color: #000;
	    text-decoration: none;
	    &:hover{
		    color: #000;
		    text-decoration: underline; 
	    }
	}
	&:last-child a{
		background: $red-light; 
		color: #fff; 
		padding: 10px 25px; 
		border-radius: 20px; 
		transition: .2s; 
		&:hover{
		    color: #fff;
		    text-decoration: none;  
		    background: $red-dark; 
	    }
	}
	}
}

.header-search{
	float: right; 
	font-size: 30px;
	margin: 35px 0 0 15px; 	
}


.mobile-nav-toggle{
	display: none; 
	float: right; 
	width: 30px; 
	height: 30px; 
	position: relative; 
	text-align: right; 
	margin: 50px 16px 0 25px;
	z-index: 9999; 
	&:hover{
		cursor: pointer; 
	}
	&.toggle-open{
		position: fixed; 
		right:0px; 
		span{
			background: #fff; 
			position: absolute; 
		}
		span:first-child{
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		    top: 12px;
		    opacity: 1;
		    position: absolute;
		}
		span:last-child{
		-webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    top: 12px;
		    opacity: 1;
		    position: absolute;
		}
		span:nth-child(2){
		display: none; 
		}
	}
	@include desktop-break{
			display: block;
	}
	span{
		display: inline-block;
 		margin-bottom: 5px;
		background: $red-light; 
		border-radius: 0px; 
		height: 4px !important; 
		transition: .2s; 
		position: absolute;
		border-radius:2px; 
		right:0; 
		top:0; 
	}
	span:first-child, span:last-child{
		width: 30px; 
		height: 4px; 
	}
	span:last-child{
		top:18px; 
	}
	
	span:nth-child(2){
		width: 20px; 
		right:0; 
		top:9px;
	}
		
}
