@mixin breakpoint($break) {
     @media screen and (max-width:$break){
        @content;
    }
}

@mixin desktop-break {
     @include breakpoint($desktop-break){
        @content;
    }
}

@mixin mobile-break {
     @include breakpoint($mobile-break){
        @content;
    }
}

@mixin smallmobile-break {
     @include breakpoint($smallmobile-break){
        @content;
    }
}

@mixin smalldesktop-break {
     @include breakpoint($smalldesktop-break){
        @content;
    }
}