// colors
$gray-dark: #292B2F;
$gray-med: #53575D; 
$gray-light: #A8A9AC; 
$orange: #F58A20;
$black: #000;
$white: #fff;
$blue-dark: #006E9A;
$blue-light: #4BA6C1;
$red-dark: #9F0000;
$red-light: #EE3B33;


//fonts
$font-stack: 'Raleway', sans-serif;


$desktop: "min-width: 1100px"; // Declare global breakpoints that everyone can reference.
$tablet: "max-width: 900px"; 
$mobile: "max-width: 900px"; 
$smallmobile: "max-width: 600px"; 

//for mixins
$smalldesktop-break: "960px"; 
$mobile-break: "900px"; 
$desktop-break: "1100px"; 
$smallmobile-break: "600px"; 