* {
  padding: 0;
  margin: 0;
  font-variant-ligatures: none;
}


body{
	font-family: $font-stack; 
	color: $gray-dark; 
}

a{
	color: $red-light; 
	&:hover{
		color: $red-dark; 
	}
}

button, input[type=submit]{
	background: $red-light; 
	color: #fff; 
	padding: 10px 25px; 
	border-radius: 20px; 
	transition: .2s; 
	font-size: 18px; 
	line-height: 20px; 
	&:hover, &:focus{
	    color: #fff;
	    text-decoration: none;  
	    background: $red-dark; 
    }
}

hr {
    background-color: #bbb;
    border: 0;
    height: 1px;
    clear: both;
    margin: 1.5em 0;
    display: block;
}

/*interior pages*/

.interior-wrap{
	max-width: 820px; 
	padding-top: 60px; 
	padding-bottom: 60px; 
	h1.entry-title, h2.entry-title{
		color: $orange; 
		font-size: 42px; 
		line-height: 49px; 
		text-align: center; 
		font-weight: 600; 
		max-width: 65%; 
		margin: 0 auto 30px auto; 
		@include mobile-break{
			font-size: 32px; 
			line-height: 39px; 
			max-width: 100%; 
		}
	}
	
	@include mobile-break{
			padding-left: 16px; 
			padding-right: 16px; 
		}
}

h3, h4{
	color: $blue-dark;
	font-weight: 600;
}


.featured{
	border-radius: 0 100px 0 100px;
	overflow: hidden; 
	margin-bottom: 40px; 
	img{
		display: block; 
	}
	
}

.intro-text{
	p{font-size: 18px; 
	line-height: 26px; 
	text-align: center;
	color: $gray-dark;
	}
}

.content-circles{
	display: flex; 
	text-align: center; 
	justify-content: center;
	flex-wrap: wrap;
	margin: 25px 0; 
	padding: 25px 0; 
	h6{
		margin: 15px; 
		padding: 15px; 
		height: 115px; 
		width: 115px; 
		border: 1px solid $blue-dark; 
		color: $blue-dark; 
		display: flex; 
		justify-content: center;
		border-radius: 50%; 
		font-size: 14px; 
		span{
			align-self: center; 
		}
	}
}

.blue-callout{
	background: $blue-dark; 
	color: #fff; 
	border-radius: 0 100px 0 100px;
	padding: 60px; 
	text-align: center;
	margin-bottom: 40px;
}

/*accordion*/

#accordion {
  margin-top: 10px;
}

.tab-container{
	margin-bottom: 15px; 
}

.tab {
  padding: 20px;
  color: $gray-dark;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid #D4D4D4;
  background: #EEEEEE; 
  font-size: 18px; 
  font-weight: 600; 
  position: relative; 
  padding-right: 60px; 
  .tab-arrow{
	  position: absolute; right: 0px; 
	  top:0px; 
	  width: 60px; 
	  height: 100%; 
	  font-size: 30px; 
	  text-align: center; 
	  line-height: 56px; 
	  color: $red-light;
  }
}

.tab:hover {
  background: $blue-dark;
  color: $white; 
  .tab-arrow{
	  position: absolute; right: 0px; 
	  background: $red-light;
	  color: $white;
	  .fas{
		   transform: rotate(180deg); /* Equal to rotateZ(45deg) */
		   line-height: 76px; 
	   }
	   
  }
}

.slide {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #D4D4D4;
  border-top:0px; 
  overflow: auto; 
  img{
	      max-width: 214px;
		    float: left;
		    margin-right: 1.5em;
		    margin-bottom: 1.5em;
		    @include mobile-break{
				float:none;
				display: block;
				max-width: 100%; 
			}
  }
  p{
	  padding-bottom: 0; 
	  margin-bottom: 0; 
  }
}

.active {
   background: $blue-dark;
   color: $white; 
   .tab-arrow{
	  position: absolute; right: 0px; 
	  background: $red-light;
	   color: $white;
	   .fas{
		   transform: rotate(180deg); /* Equal to rotateZ(45deg) */
		    line-height: 76px; 
	   }
	   
  }
}

ul{
	margin-left: 30px; 
	li{
		padding: 5px; 
	}
}

/*home*/

#hero-cards{
	position: relative; 
	z-index: 12; 
	.wrap{
		display: flex; 
		width: 100%; 
		max-width: 1237px; 
		margin: 0 auto; 
		margin-top: 40px; 
		@include mobile-break{
					display: block;
				}
		.card{
			background: #fff; 
			box-shadow: 0px 0px 8px rgba(0,0,0,.3); 
			width: 30%; 
			margin: 1.5%;
			padding-bottom: 20px; 
			border-radius:10px; 
			overflow: hidden;
			@include mobile-break{
					width: 90%; 
					margin: 40px 5%; 
				}
			button{
				font-size: 14px; 
// 				text-transform: uppercase; 
				padding-left: 45px;
				&.member{
					background-image: url('assets/images/icon-member.png'); 
					background-position: 16px center; 
					background-repeat: no-repeat;
					background-size: 24px auto; 
				}
				&.vol{
					background-image: url('assets/images/icon-act.png'); 
					background-position: 16px center; 
					background-repeat: no-repeat;
					background-size: 18px auto; 
				}
				&.donate{
					background-image: url('assets/images/icon-give.png'); 
					background-position: 16px center; 
					background-repeat: no-repeat;
					background-size: 24px auto; 
				}
			}
			h1{
				color: $orange; 
				font-size: 42px; 
				line-height: 49px; 
				font-weight: 600;
				margin: 0; 
				padding: 0; 
			}
			.photo{
				img{
					width: 100%; 
				}
			}
			.card-content{
				padding: 20px;
			}
		}
	}
}

.home-motto{
	background: $blue-light; 
	padding: 160px 30px 100px 30px; 
	border-radius: 0 100px 0 100px; 
	position: relative; 
	z-index: 11; 
	margin-top: -60px; 
	@include mobile-break{
					padding: 100px 36px 80px 36px; 
					margin-top: -80px; 
					border-radius: 0 60px 0 60px;
				}
}

.wrap-motto{
	font-size: 42px; 
	max-width: 758px; 
	margin: 0 auto; 
	color: $white; 
	line-height: 49px; 
	font-weight: 600; 
	@include mobile-break{
					font-size: 32px;
					line-height: 39px; 
				}
}

img.label{
	max-width: 143px; 
	height: auto; 
	left:-40px;
	position: relative; 
}

#special-events{
	padding: 200px 30px 100px 30px;
	margin-top: -100px; 
	background: $blue-dark;  
	position: relative; 
	z-index: 10; 
}

#sponsors{
	background: $blue-light; 
	padding: 100px 30px; 
	h2{
		color: $white; 
		text-align: center; 
		font-weight: 600; 
		font-size: 42px; 
	}
	.sponsor-logos{
		position: relative; 
		.slick-prev, .slick-next{
			position: absolute; 
			top:40%; 
			background: red; 
			text-indent: -9999px; 
			width: 24px; 
			height: 46px; 
			padding: 0; 
		}
		.slick-prev{
			left:0px; 
			z-index: 999; 
			background: url('assets/images/arrow-white-left.png') center center no-repeat; 
			background-size:23px auto; 
			
		}
		.slick-next{
			right: 0; 
			background: url('assets/images/arrow-white-right.png') center center no-repeat; 
			background-size:23px auto; 
		}
		.slick-slide img {
		    display: inline-block;
		    opacity: .8; 
		    max-width: 148px;		
		    }
		div{
			padding: 10px; 
			text-align: center; 
		}
	}
}

.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}


.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;

  /**
   * Default height
   */
  height: 100%;
  min-height: 85vh;
  display: flex;
}

.icon-search{
	margin: 0 5px;
	height: 20px;
    top: -4px;
    width: 20px;
}

.search-form .search-submit {
    bottom: 3px;
    padding: 0.5em 1em;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 4px;
    background: #fff; 
    border: 1px solid $red-light; 
    color: $gray-med;
        line-height: 26px;
}

.no-svg .search-submit .screen-reader-text{
	top:-2px;
}

.search-form .search-submit .icon {
    height: 20px;
    top: -4px;
    width: 20px;
}

.entry-meta {
    text-align: center;
}

h2.comments-title{
	border-top:1px solid $gray-light; 
	padding-top: 20px;
}

footer.comment-meta{
	background: transparent;
	.vcard{
		color: $gray-dark;
		font-size: 14px; 
		font-weight: 400;
		padding-right: 10px;
		a{
			color: $gray-dark;
			&:hover{
				color: $gray-dark;
			}
		}
	}
}

.comment-metadata {
    color: #767676;
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    text-transform: uppercase;
    line-height: 20px;
}

/*events section homepage*/

.events-wrap{
	display: flex; 
	@include mobile-break{
			display: block;
		}
	.events-title{
		color: $orange; 
		text-transform: uppercase; 
		font-size: 86px; 
		padding: 40px 0; 
		border-radius:8px; 
		font-weight: 900; 
		width: 50%; 
		line-height: 72px; 
		align-self: center; 
		text-shadow: 0 0 8px $gray-dark;
		@include mobile-break{
			width: 97%; 
			margin: 1.5%; 
			font-size: 66px; 
			line-height: 52px; 
		}
	}
	
	.events-list{
		background: #fff; 
		box-shadow: 0 0 8px $gray-dark; 
		border-radius:8px; 
		width: 45%; 
		margin: 2.5%; 
		align-self: center;
		@include mobile-break{
			width: 97%; 
			margin: 1.5%; 
		}
		img.label{
			top: 0px;
			margin-top: -25px;
		}
		.single-event-card{
 			margin: 0 20px; 
			padding: 20px 0; 
			border-bottom: 1px solid $gray-light; 
			background: url('assets/images/arrow-right.png') right center no-repeat; 
			background-size:10px auto; 
			span.date{
				color: $gray-med; 
			}
			h5{
				margin-top: 0; 
				padding-top: 0; 
			}
		}
		
		.link-all-events{
			border-top:1px solid $gray-light; 
			padding: 30px 20px; 
		}
	}
}

.events-wrap .events-list .single-event-card:nth-last-child(2){
				border-bottom: 0px; 
			}
			
h5{
	font-size: 20px; 
	font-weight: 600; 
	text-transform: none; 
	letter-spacing: 0px; 
	color: $gray-dark; 
}

/*Events page*/

.event-card-wrapper{
	display: flex; 
	padding: 0 0 80px 0; 
	@include mobile-break{
			display: block;
		}
	.event-card{
		background: #fff; 
			box-shadow: 0px 0px 8px rgba(0,0,0,.3); 
			width: 47%; 
			margin: 1.5%;
			border-radius:10px; 
			overflow: hidden;
			@include mobile-break{
				width: 95%; 
				margin: 40px 2.5%; 
			}
			.entry-header{
				padding: 20px; 
				h3{
					padding-bottom: 10px;
				}
			}
	}
}

.special-events-wrap{
	margin-bottom: 10px; 
	padding-bottom: 5px;
}

h4.centered-date{
	text-align: center;
	color: $gray-med;
}

/*table overrides*/

.interior-wrap .tablepress thead th {
    background-color: $blue-light;
    font-weight: 700;
    vertical-align: middle;
    color: #fff; 
    padding: 20px 10px;
}

.donate-fab{
	position: fixed; 
	bottom:-100px; 
	right:10px; 
	box-shadow: 0 0 8px $gray-dark; 
	z-index: 99999; 
	transition: .2s; 
	&.in-view{
		bottom:10px; 
	}
}